/*background for jumbo*/
.jumbotron{	background:url(http://freenaturestock.s3.amazonaws.com/842.jpg);
	background-size: 100% 100%;
	height:600px;
}
/*test size*/
.logo{
	width: 150px;
	height: 100px;
}
.featured{
	color:white;
	
}
.featured h1{
	padding-top: 40px;
}
.featured .btn-default{
	font-weight: bold;
	color:#fff;
	background-color: rgba(145,82,58,0.5);
	border-radius: 10px;
	margin-top: 20px;
	width:160px;
	margin-right: 15px;
}
.featured .btn-default:hover{
	background-color: rgb(145,82,58);
	transform: scale(1.04);
}
.trial{
	text-align: center;
	padding-bottom: 20px;
}
.trial img{
	width: 200px;
	margin: 5px 20px;
}
.footer{
/*	bottom: 0px;*/
	background-color: darkgray;
	text-align:center;
	font-size: 15px;
	padding: 10px 0px;
/*	margin-bottom: -10px;*/
}
.logomaker{
/*	text-align:center;*/
	font-size: .7em;
/*	position:fixed;*/
/*	bottom:0px;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
}

/*media queries*/
@media(min-width: 480px) and (max-width: 760px){
	.jumbotron{
		height:410px;
		margin: 0px;
	}
	.logo{
	width: 110px;
	height: 75px;
}
#info{
		border-bottom-left-radius:15px; 
		border-top-right-radius:15px;
		padding: 7px;
		background-color: rgba(136,92,168,0.4);
	}	
	.featured h1{
		padding-top: 30px;
	}
	.featured p{
		font-size: 17px;
		margin: 5px;
	}
	.featured{
		text-align: center;
		width: 100%;
	}
	.trial{
		margin: 10px;
	}
	.trial img{
	width: 150px;
	margin: 4px 15px;
}
}

@media(max-width: 480px){
	.jumbotron{
		height:410px;
		margin: 0px;
	}
	#info{
		border-bottom-left-radius:15px; 
		border-top-right-radius:15px;
		padding: 5px;
		background-color: rgba(136,92,168,0.4);
	}
	.logo{
	width: 85px;
	height: 57px;
}
	.featured h1{
		padding-top: 10px;
	}
	.featured p, .featured a{
		font-size: 15px;
	}
	.featured{
		text-align: center;
	}
	.featured .btn-default{
	text-align: center;
	font-size: 12px;	
	font-weight: bold;
	color:#fff;
	background-color: rgba(145,82,58,0.5);
	border-radius: 10px;
	margin-top: 10px;
	width:110px;
	margin-right: 5px;
}
	.footer{
		bottom: 0px;
		width: 100%;
		margin-top: 20px;
	}	
	
.trial img{
	width: 90px;
	margin: 4px 7px 20px 7px;
}
.logomaker{
	font-size:.5em; 
}	
}
